/*==================================

        Universal styling

==================================*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans JP', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

/*======================================

                Header

======================================*/

header {
    background: lightgray;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 0;
}

header nav ul li {
    display: inline;
}

li a:hover {
    color: #76afb4;
}

header nav a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
}


/*======================================

            Hero Image Section

======================================*/

.hero-image-section{
    background-image: url('../images/heroimage.png');
    background-size:auto;
    padding: 500px 0;
    background-repeat: no-repeat;
    background-position: center;
}

