/*universal styling*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Noto Sans JP', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

/*======================================

                Header

======================================*/

header{
    background: lightgray;
}

header nav a{
    color: white;
    text-decoration: none;
 
}