/*=================



UNIVERSAL STYLING



=====================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: "groovy";
  font-size: 400%;
  text-decoration: underline;
  font-weight: bold;
  background-color: teal;
  color: #ffffff;
  text-shadow: 2px 2px 7px #111111;
  border-radius: 20px;
  margin: 75px;
}

h3,
h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: larger;
}

p {
  text-align: center;
  width: 600px;
  border: 10px solid teal;
  margin: 20px auto 20px auto;
  font-weight: normal;
  background-color: #e6e1e1;
  padding: 10px;
}

body {
  background-image: url("images/Ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: darkblue;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
}

@font-face {
  font-family: "groovy";
  src: url("font/groovy.ttf");
}

img {
  float: right;
  width: 200px;
  height: 100px;
  margin-left: 15px;
}

span {
  color: white;
  background-color: navy;
}
/*=================



Header STYLING



===================== */

header {
  background: rgb(0 0 0 /50%);
  padding: 30px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

header nav li {
  display: inline-block;
}

a:visited {
  color: navy;
}

a:hover {
  color: hotpink;
}

header a {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: teal;
  margin: 0 20px;
}
.seaweed {
  position: absolute;
  top: 51%;
  left: 25%;
}
/*=================



Jellyfish STYLING



===================== */
.jellyfish {
  position: relative;
  bottom: 0;
  left: 0px;
  animation: MoveUpDown 10s linear infinite;
}

.anotherjellyfish {
  position: relative;
  bottom: 0;
  right: 250px;
  animation: MoveUpDown 10s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  500% {
    bottom: 0;
  }
  100% {
    bottom: 500px;
  }
}
